.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/footer/footer__background.jpg);
  background-size: cover;
  background-position: top center;
  max-width: 1184px;
  max-height: 740px;
  z-index: -1;
}